.sidebar {
  background: $color-primary-dark;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  
  display: flex;
  justify-content: center;
  
  
  & svg {
    width: 4rem;
    height: 4rem;
    margin: 1rem auto 0;
  }
}